<%- include('partials/header', {title:"TSPN"}, {data:data}, {userData: userData}, {dateToday: dateToday} ) -%>

<h2> <%=errorCode%> Error</h2>
<p> The resource you requested has not been found.</p>

<%- include('partials/footer') -%>
