<%- include('partials/header', {title:"P, R, S: Tournament of Champions"}) -%>

<p> Welcome to the official site of the Paper, Rock, Scissors: Tournament of Champions!
  <br>
  <br>
  <a href="/play">Click to play a round of Paper, Rock, Scissors</a>

  <%- include('partials/footer') -%>