<%- include('partials/header', {title:"P, R, S: Tournament of Champions"}) -%>

<div class="container">
    <p>Login with:
      <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Google</a>
    </p>
  </div>
</div>

<%- include('partials/footer') -%>
