
<style>
  .container {
  position: relative;
  width:100px;
  height: 100px;
  position: relative;
  font-size:30px;
  margin: auto;
  text-align: center;
  font-family: Monospace;

}
</style>
<div class="container">
  <br><br><br><br><br><br><br><br><br>
    <p style = "color:blue;">Login with
      <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> Google</a>
    </p>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
