<%- include('../partials/header', {title:"TSPN"}, {data:data}, {userData: userData} ) -%>

<% if (user) { %>
<h2>Welcome, <%=user._json.email.split("@")[0]%>!</h2>

<form action="/Category/uploadHighlights" enctype="multipart/form-data" method="POST">
   <input type="file" name="myFile" />
   <br>
   <input type="submit" value="Upload a file" required/>
</form>



<% } %>
<%- include('../partials/footer') -%>
